
<div class="b">
    <%=format_h2%>
            <%= form_with(url: jokes_path, method: :get) do |f| %>
                <%= f.label :search, "Search Jokes" %>
                <%= f.text_field :search %>
                <%= f.submit "Search" %>
            <%end%>
  <br>    
        <div class="c"> 
            <% @jokes.each do |j|%>
            <%=j.joke %>
            <%= form_with(url: favorite_path(j), method: :post) do |f| %>
            <%= f.label :rating if !j.comedian_ids.include?(current_user.id)%>
            <%= f.number_field :rating, in: 1..5 if !j.comedian_ids.include?(current_user.id)%>
            <%= f.submit j.format_favorite_button(current_user.id)%>
             <%end %>
            <% if j.creator_id == current_user.id%>
                <%= link_to "Edit Joke", edit_comedian_joke_path(current_user, j.id)%>
            <%end %>
 <br>
            <%end%>
 <br>
                <%= link_to "New Joke", new_comedian_joke_path(current_user)%>
         </div>
</div>
