
<div class= b>
<%=format_header%>

  <div class=c>
    <% @bit.each do |b|%>
      <p>  <%= b.bit %> </p>
      <% if b.comedian_id==current_user.id %>
        <%= link_to "Delete", comedian_stand_up_path(b.comedian_id, b.id), method: "delete" %> 
        <%= link_to "Edit", edit_comedian_stand_up_path(b.comedian_id, b.id)%>
        <%end%> 
        <br>
        
        <%end%>
  </div>

   <%= link_to "New Stand Up", new_comedian_stand_up_path(current_user)%>
           

 </div>